.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid; text-decoration: none}
img {
    max-width: 100%;
    height: auto;
}
input:focus, button:focus, textarea:focus, a:focus {outline: none}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
p:last-child {
    margin-bottom: 0
}

/* start calculator style */
.calculator{
    width:285px;
    height: 350px;
    background: gray;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #777;
    padding: 10px;
}
.main-bar {
    margin-bottom: 20px;
    text-align: right;
}

.btn {
    width: 61px;
    cursor: pointer;
    font-size: 20px;
}
.line {
    margin-bottom: 10px;
}
.last input {
    width: 125px;
}